@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root{
    --main-color:#004644;
    --secondary-color:#ABD1C6;
    --partner-color: #F9BC60;
    --dark-color: #000000;
    --white-color:#FFFFFF;
    --gray-color:#E8E4E6;
    --tertiary-color: #ff473c;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}

/* Clase generales*/
.container{
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}
.d-none{
    display: none;
}

.bg-primary{
    background-color: var(--main-color);
}
.bg-secondary{
    background-color: var(--secondary-color);
}

.container-small{
    max-width: 588px;
    padding: 80px 0 40px;
    margin: auto;
}

.color-primary{
    color: var(--main-color);
}
.color-secondary{
    color: var(--secondary-color);
}
.color-white{
    color: var(--white-color);
}
.color-dark{
    color: var(--dark-color);
}
.color-partner{
    color: var(--partner-color);
}

.oder-2{
    order: 2;
}
.oder-1{
    order: 1;
}
.oder-0{
    order: 0;
}

.btn{
    border-radius: 3.2rem;
    background-color: var(--partner-color);
    color: var(--dark-color);
}
/*Estilos personalizados*/
.container-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 5;
}
.container-header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 2.4rem 1.6rem;
}

.container-header .container .container-logo{
    cursor: pointer;
}
.container-header .container .container-logo h3{
    font-size: 2.4rem;
    font-weight: 500;
}

.container-header .container .menu-list{
    position: absolute;
    left: 0;
    top: 80px;
    right: 0;
    width: 100%;
}

.container-header .container .menu-list{
    padding: 2.4rem 1.6rem;
}

.container-header .container .menu-list a{
    font-size: 1.6rem;
    font-weight: 500;
    display: block;
    text-align: center;
    padding: 1rem 2rem;
}
.container-header .container .menu-list a:hover{
    /*border-radius: 3.2rem;
    background-color: var(--partner-color);
    color: var(--dark-color);*/
    border-bottom: 2px solid var(--partner-color);
}

/*section main*/

.container-hero-image{
    margin-top: 80px;
}

.container-hero-image .left-content h2{
    font-size: 3.2rem;
    line-height: 4.16rem;
}
.container-hero-image .left-content h1{
    font-size: 4rem;
    line-height: 5.2rem;
    font-weight: 800;
}

.container-hero-image .left-content p{
    font-size: 1.6rem;
    line-height: 2.56rem;
    font-weight: 400;
}

.container-hero-image .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2.4rem;
    padding: 2.4rem 1.6rem;
}
.container-hero-image .left-content{
    order: 1;
    display: grid;
    grid-template-columns: auto;
    gap: 1.6rem;
}
.container-social-media{
    display: flex;
    align-items: center;
}
.container-social-media a:last-child{
    margin-right: 0;
}
.container-social-media a:first-child{
    margin-left: 0;
}
.container-social-media a{
    margin: 0 0.8rem;
    cursor: pointer;
}
.container-hero-image .rigth-content figure{
    max-height: 320px;
    max-width: 320px;
    margin: auto;
    border-radius: 100%;
    overflow: hidden;
    background: radial-gradient(circle, rgba(0,70,68,1) 35%, rgba(171,209,198,1) 100%), linear-gradient(90deg, rgba(0,70,68,1) 35%, rgba(171,209,198,1) 100%);;
}
.container-hero-image .rigth-content img{
    margin: 0 auto;
    display: block;
}

.container-about .container{
    padding: 0 1.6rem;
}
.container-about .about-text h2{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3.12rem;
}

.container-about .about-text p{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.56rem;
    display: inline-block;
    margin-top: 1.6rem;
}

.container-about .about-cards{
    padding: 20px 0 80px;
    display: grid;
    gap: 2.4rem;
    grid-template-columns: repeat(auto-fit, minmax(320px,430px));
    justify-content: space-around;
}

.container-about .about-cards .card{
    border-radius: 0.8rem;
    padding: 2.4rem 1.6rem;
    background-color: var(--main-color);
}
.container-about .about-cards .card .card-header{
    text-align: center;
}
.container-about .about-cards .card .card-header h2{
    font-size: 2.4rem;
    line-height: 4.16rem;
}

.container-about .about-cards .card .card-body .body-sections .section-item h4{
    font-weight: bold;
    font-size: 1.6rem;
    color: var(--white-color);
    margin-bottom: 1.6rem;
}
.container-about .about-cards .card .card-body .body-sections .section-item {
    margin-top: 1.6rem;
}
.container-about .about-cards .card .card-body .body-sections .section-item  .item-list{
    margin-bottom: 2.4rem;
}
.container-about .about-cards .card .card-body p{
    font-size: 1.6rem;
    color: var(--secondary-color);
}

/*Section projects*/

.container-projects .project-header{
    text-align: center;
}
.container-projects .project-header h3{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white-color);
}
.container-projects .project-header h4{
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--secondary-color);
    padding: 1.6rem 0;
}

.container-projects .project-header p{
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--secondary-color);
    line-height: 2.589rem;
}
.container-projects .project-contain-boxes{
    display: grid;
    gap: 2.4rem;
}
.container-projects .project-contain-boxes .box-project{
    display: grid;
    gap: 1.6rem;
}
.container-projects .project-contain-boxes .box-project .box--left{
    padding: 1.6rem ;
}
.container-projects .project-contain-boxes .box-project .box--left h2{
    font-size: 24px;
    font-weight: bold;
    color: var(--partner-color);
}
.container-projects .project-contain-boxes .box-project .box--left h4{
    font-size: 20px;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white-color);
}
.container-projects .project-contain-boxes .box-project .box--left .content-paragraph{
    margin: 2.4rem 0;
}
.container-projects .project-contain-boxes .box-project .box--left p{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.589rem;
    color: var(--dark-color);
}
.container-projects .project-contain-boxes .box-project .box--left a{
    font-size: 1.4rem;
    color: var(--dark-color);
    font-weight: bold;
    line-height: 2.24rem;
    display: block;
    /*max-width: 320px;*/
    padding: 1.2rem 2.4rem;
    background-color: var(--partner-color);
    border-radius: 2.4rem;
    text-align: center;
    margin: 0 auto;
}
.container-projects .project-contain-boxes .box-project .box--right{
    position: relative;
    padding: 1.6rem;
    align-self: center;
}
.container-projects .project-contain-boxes .box-project .box--right .img-desktop {

}
.container-projects .project-contain-boxes .box-project .box--right .img-mobile{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 200px;
}
.container-projects .project-contain-boxes .box-project .content-paragraph{
    padding: 1.6rem;
    /*border: 1px solid var(--dark-color);*/
    border-radius: 0.8rem;
    background-color: var(--gray-color);
}


/*Section experience*/
.container-experience .container{
    max-width: 792px;
    padding: 80px 1.6rem;
}
.container-experience .container .experience-header{
    display: grid;
    gap: 1.6rem;
}
.container-experience .container .experience-header h3{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3.12rem;
    color: var(--dark-color);
    text-align: center;
}
.container-experience .container .experience-header h4{
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--dark-color);
}
.container-experience .container .experience-header hr{
    border: 1px solid var(--dark-color);
}

.container-experience .container .experience-container{
    display: grid;
    gap: 2.4rem;
    margin-top: 1.6rem;
}
.container-experience .container .experience-container .item-experience{
    display: grid;
    gap: 1.1rem;

}
.container-experience .container .experience-container .item-experience h5 {
    font-size: 1.6rem;
    font-weight: bold;
    /*line-height: 2.08rem;*/
}
.container-experience .container .experience-container .item-experience h6{
    font-size: 1.6rem;
    color: var(--tertiary-color);
}
.container-experience .container .experience-container .item-experience p{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.56rem;
}

/*Section contact*/
.container-contact .container{
    max-width: 588px;
    padding: 80px 1.6rem;
}
.container-contact .container .contact-header{
    display: grid;
    gap: 1.6rem;
}
.container-contact .container .contact-header h2{
    font-size: 3.2rem;
    color: var(--white-color);
    line-height: 4.16rem;
}

.container-contact .container .contact-header p{
    font-size: 1.6rem;
    color: var(--secondary-color);
    line-height: 2.56rem;
}

.container-contact .container .contact-form{
    margin-top: 1.6rem;
}
.container-contact .container .contact-form form{
    display: grid;
    gap: 1.6rem;
}
.container-contact .container .contact-form form .form-group{
    display: grid;
    gap: 1.1rem;
}
.container-contact .container .contact-form form .form-group label{
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--secondary-color);
}
.container-contact .container .contact-form form .form-group .input-control{
    padding: 1.2rem 2.4rem;
    font-size: 1.4rem;
    font-weight: 400;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    width: 100%;
}
.container-contact .container .contact-form form .form-group textarea{
    font-family: 'Poppins', sans-serif;
}
.container-contact .container .contact-form form a{
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--dark-color);
    display: block;
    background-color: var(--partner-color);
    text-align: center;
    padding: 1.4rem;
    border-radius: 5rem;
    max-width: 588px;
}

/*Secction footer*/
.container-footer .container{
    display: grid;
    gap: 1.6rem;
    justify-content: center;
    justify-items: center;
    padding: 1.6rem;
}
.container-footer .container .right{
    display: grid;
    gap: 1.6rem;
    order: 1;
}
.container-footer .container .right span{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.589rem;
    color: var(--white-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Section testimonials*/
.container-testimonials{
    background-color: var(--secondary-color);
}
.container-testimonials .testimonial-title{
    padding: 1.6rem;
}
.container-testimonials .testimonial-title h2{
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
}
.container-testimonials .testimonial-title p{
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
}
.container-testimonials .content-item-testimonials{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,486px));
    gap: 8rem 2.4rem;
    justify-content: center;
    /*padding:0.8rem 1.6rem;*/
    padding: 8rem 1.6rem;
}
.container-testimonials .content-item-testimonials .item-testimonial{
    border-radius: 0.8rem;
    background-color: var(--main-color);
    position: relative;
    box-shadow: 8px 8px 1px rgba(60, 63, 65, 0.3);
}
.container-testimonials .content-item-testimonials .item-testimonial img{
    display: block;
    margin: 0 auto;
    max-width: 120px;
    object-fit: contain;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container-testimonials .content-item-testimonials .item-testimonial .commnet-content p{
    text-align: center;
    padding: 0.8rem 1.6rem;
}
.container-testimonials .content-item-testimonials .item-testimonial .commnet-content .text-comment{
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.8rem;
    color: var(--secondary-color);
    margin-top: 6rem;
}
.container-testimonials .content-item-testimonials .item-testimonial .commnet-content .text-person{
    font-size: 2rem ;
    font-weight: 700;
    line-height: 2.728rem;
    color: var(--partner-color);
}
.container-testimonials .content-item-testimonials .item-testimonial .commnet-content .text-job{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.455rem;
    color: var(--white-color);
}


@media only screen and (min-width: 800px){

    /*.container-header,
    .container{
        padding-left:  8.3rem;
        padding-right: 8.3rem;
    }*/

    /*Menu header*/
    .container-header .container{
        padding:2.4rem 8.3rem;
    }
    .container-header .container .menu-list{
        position: initial;
        display: flex;
        padding: initial;
    }

    .container-hero-image .container{
        grid-template-columns: 60% 1fr;
        gap: 2.4rem;
        padding: 1.6rem 8.3rem;
        /*padding: ;*/
    }
    .container-hero-image .container .left-content{
        order: initial;
    }

    .container-hero-image .left-content h1{
        display: flex;
    }
    .container-hero-image .left-content h1 strong{
        margin-left: 5px;
    }


    /*About*/
    .container-about .container{
        padding:0 8.3rem;
    }

    /*Section project*/
    .container-projects .container{
        padding: 0 8.3rem;
    }
    .container-projects .project-contain-boxes .box-project{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.6rem;
        padding: 2.4rem 0;
    }
    .container-projects .project-contain-boxes .box-project .box--left a{
        margin: initial;
        display: inline;
    }
    /*Section spereance*/
    .container-experience .container{
        padding: 80px 0 ;
    }

    /*Section testimonials*/
    .container-testimonials .container{
        padding: 0 8.3rem;
    }

    .container-testimonials .testimonial-title h2{
        font-size: 3.2rem;
        line-height: 4.16rem;
    }
    .container-testimonials .testimonial-title p{
        font-size: 2.4rem;
        line-height: 3.12rem;
        padding: 1.6rem 0 ;
    }

    /*Section contact*/
    .container-contact .container .contact-form form{
        grid-template-columns: repeat(2, 1fr);
    }
    .container-contact .container .contact-form form .form-group:nth-child(1){
        grid-column: 1 / 2;
    }
    .container-contact .container .contact-form form .form-group:nth-child(2){
        grid-column: 2 / 3;
    }
    .container-contact .container .contact-form form .form-group:nth-child(3){
        grid-column: 1 / 3;
    }
    .container-contact .container .contact-form form a {
        grid-column: 1 / 3;
    }

    /*Section footer*/
    .container-footer .container{
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }
    .container-footer .container .right{
        order: initial;
        grid-template-columns: auto 1fr;
    }
    .container-footer .container .container-social-media{
        justify-self: flex-end;
    }
    .container-footer .container .container-social-media img{
        width: 3.2rem;
    }

}